<% if page.current? %>
  <span class="bg-[#2563eb] text-white text-sm font-bold size-8 flex items-center justify-center rounded-lg shadow-[0px_4px_6px_-1px_rgba(0,0,0,0.1)]"><%= page %></span>
<% else %>
  <%= link_to page, url, class: "bg-white text-[#191c1e] text-sm size-8 flex items-center justify-center rounded-lg shadow-[0px_1px_2px_0px_rgba(0,0,0,0.05)] hover:bg-[#f2f4f6]" %>
<% end %>
